<div class="row">
    <div class="col-md-6">
      <div style="display: block;">

      <button mat-raised-button color="primary" (click)="showClicked()" [disabled]="!dirty || !valid || showInProgress">
        Ver
      </button>

      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Series
            </mat-panel-title>
            <mat-panel-description>
              Seleccione Series y Período
            </mat-panel-description>
         </mat-expansion-panel-header>

         <div class="row">
          <div class="col-md-6">                  
              <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="pickerFrom" placeholder="Fecha Desde" [(ngModel)]="dateFrom" required>
                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="pickerTo" placeholder="Fecha Hasta" [(ngModel)]="dateTo" required>
                  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                  <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
          
          </div>
         </div>

        <mat-selection-list #seriesList>
           <mat-list-option *ngFor="let serie of series" 
              (click)="onSeriesListChanged()" [value]="serie">
              {{serie}}
            </mat-list-option>
        </mat-selection-list>  

      </mat-expansion-panel>

      <canvas baseChart width="100" height="100"
                  *ngIf="lineChartData"   [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        <div layout="row" layout-fill layout-align="center center" style="min-height: 500px">                  
          <mat-spinner *ngIf="this.showInProgress"></mat-spinner>
          <mat-error *ngIf="this.errorMessage">{{errorMessage}}</mat-error>
        </div>
      </div>
      
    </div>
  </div>